[Unit]
Description=Web tier python code
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/flaskapp
ExecStart=/usr/bin/python3 /home/ubuntu/flaskapp/webtier-app.py
Restart=always

[Install]
WantedBy=multi-user.target
